*{
margin:0;
padding:0;
font-family:Arial;
}

body{
background:linear-gradient(45deg,#020617,#0f172a);
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.home{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.profile{
width:180px;
height:180px;
border-radius:50%;
object-fit:cover;
border:5px solid white;
margin-bottom:20px;
}

.btn{
padding:10px 20px;
background:white;
color:black;
margin-top:15px;
text-decoration:none;
border-radius:5px;
}

section{
padding:60px;
text-align:center;
}

.skill{
width:70%;
margin:auto;
}

.bar{
background:#333;
height:10px;
margin-bottom:20px;
}

.bar div{
height:10px;
}

.html{width:90%;background:#2563eb;}
.css{width:85%;background:#9333ea;}
.js{width:70%;background:#22c55e;}
.php{width:60%;background:#f59e0b;}

.project,.card{

background:rgba(255,255,255,0.05);

padding:30px;

margin:20px auto;

width:300px;

border-radius:20px;

backdrop-filter:blur(10px);

}

.social i{
font-size:30px;
margin:10px;
}
